.work-container{
    margin-top: 20px;

}

.search-result-name{
    margin-bottom: 20px;
}
.name1{
    margin-top: 20px;
}
.btn2{
    margin-top: 40px;
    float: right;
}
.line{
    margin-top: 120px;
    border-bottom: white solid 1.5px;
}