.navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-left: 5%;
    padding-top: 0%;
    padding-right: 5%;

}
.routes>.link{
    font-size: 14px;
    text-decoration: none;
    color: #8B8B8B; 
}